body {
    table, th, td table, th, td

{
    border: 1px solid white;
    border-collapse: collapse;
}
div {
    width: 300px;
    margin: auto;
}

th, td {
    background-color: #96D4D4;
}
.custom-form-container {
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Centers the container horizontally */
}

.custom-form-group {
    margin-bottom: 15px; /* Adjust spacing as needed */
}

    .custom-form-group input {
        width: 100%; /* Make the input field full width of the container */
    }

    .custom-form-group button {
        width: 100%; /* Make the button full width of the container */
    }
.footer {
    text-align: center;
}

.pagination {
    display: inline-block;
}

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
    }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
.container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between the items */
    margin-top: 20px; /* Space above the containers */
}

.grid-container {
    flex: 1; /* Allow grid container to grow */
    margin-right: 20px; /* Space between grid and pagination */
}

.pagination-container {
    width: 200px; /* Set a fixed width for pagination */
    align-self: flex-start; /* Align pagination to the top */
}

.error {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
}




